In [1]:
## import all the libraries required
import pandas as pd

In [2]:
## importing the dataset
df = pd.read_csv('spam.txt')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
## mapping the target value
df['spam'] = df['Category'].apply(lambda x:1 if x == 'spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
## Splitting the dataset into training and testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message, df.spam, test_size = 0.25)

In [7]:
x_train.head()

4421                      Ok i msg u b4 i leave my house.
2354    Please CALL 08712402902 immediately as there i...
3667    I'm turning off my phone. My moms telling ever...
3271    K actually can you guys meet me at the sunoco ...
2399                             YO YO YO BYATCH WHASSUP?
Name: Message, dtype: object

In [8]:
## Counting the words occurence in an email
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [9]:
## Fitting the model
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [10]:
model.__dict__

{'alpha': 1.0,
 'fit_prior': True,
 'class_prior': None,
 'n_features_in_': 7463,
 'n_features_': 7463,
 'classes_': array([0, 1], dtype=int64),
 'class_count_': array([3608.,  571.]),
 'feature_count_': array([[ 0.,  0.,  1., ...,  1.,  1.,  0.],
        [ 7., 24.,  0., ...,  0.,  0.,  1.]]),
 'feature_log_prob_': array([[-10.89966098, -10.89966098, -10.2065138 , ..., -10.2065138 ,
         -10.2065138 , -10.89966098],
        [ -7.86614719,  -6.7267129 ,  -9.94558873, ...,  -9.94558873,
          -9.94558873,  -9.25244155]]),
 'class_log_prior_': array([-0.14691838, -1.99043805])}

### Checking model accuracy

In [17]:

model.score(x_train_count,y_train)

0.9940177075855468

In [12]:
x_test_count = v.transform(x_test)
model.score(x_test_count,y_test)

0.9842067480258435

In [18]:
y_pred = model.predict(x_test_count)

In [19]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [20]:
Accuracy = metrics.accuracy_score(y_test,y_pred)

NameError: name 'metrics' is not defined

In [34]:
Accuracy

0.9863603732950467

In [21]:
## Working an example
emails = [
    'Hey there mate, lets go watch a movie',
    'Upto 20% discount on products, exclusive offer just for you. Dont miss this reward'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [39]:
## Saving our model
import pickle
pickle.dump(model,'spam.pkl','wb')

AttributeError: 'MultinomialNB' object has no attribute 'pickle'

### Transforming the above workflow into a pipeline

In [22]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [23]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [25]:
import pickle
pickle.dump(clf,open('pipeline.pkl','wb'))